.places__title {
  margin-top: 30px;
}

.places__item {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px #ff5a5f solid;
  border-radius: 4px;
}
.info__heading {
  display: grid;
  grid-template-columns: 1fr 80px;
}

.place__name-text {
  font-size: 30px;
  text-align: center;
  justify-self: center;
  margin-left: 40px;
}

.places__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.price_by_night {
  display: flex;
  place-items: center;
  justify-self: end;
  min-width: 60px;
  height: 60px;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  font-size: 30px;
  color: #ff5a5f;
  padding: 1em 0.2em;
}
.max_guest {
  background-image: url("../images/guest_icon.png");
}
.number_rooms {
  background-image: url("../images/bed_icon.png");
}
.number_bathrooms {
  background-image: url("../images/bathroom.png");
}
.info__icon {
  background-size: contain;
  width: 100px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.info__icons p {
  text-align: center;
  margin-top: 5px;
}
.info__icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
  margin: 10px auto;
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.username span {
  font-weight: normal;
}

.amenities {
  margin-top: 40px;
}

.amenities_title {
  border-bottom: 1px #dddddd solid;
  margin-bottom: 10px;
}

.tv,
.internet,
.pet {
  background-size: contain;
  width: 25px;
  min-height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tv {
    background-image: url('../images/icon_tv.png');
}
.internet {
    background-image: url('../images/icon_wifi.png');
}.pet {
    background-image: url('../images/icon_pets.png');
}

.amenity_item {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.reviews {
    margin-top: 40px;
}
.review_title {
    border-bottom: #dddddd 1px solid;

}

.review_details {
    font-size: 14px;
    margin-top: 20px;
}
