.filters {
  height: 70px;
  background-color: white;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  place-items: center;
  justify-content: end;
}
.search__button {
    font-size: 18px;
    background-color: #FF5A5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border-style: unset;
    margin-right: 30px;
}
.search__button:hover {
    opacity: 90%;
    cursor: pointer;
}