.filters {
  height: 70px;
  background-color: white;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  place-items: center;
  justify-content: space-between;
}
.search__button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border-style: unset;
  margin-right: 30px;
}
.search__button:hover {
  opacity: 90%;
  cursor: pointer;
}

.search__elements {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}
.locations,
.amenities {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locations {
  margin-left: 30px;
  border-right: solid 1px #dddddd;
}
.locations h3,
.amenities h3 {
  font-weight: 600;
}
.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
}
