.filters {
  height: 70px;
  background-color: white;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  place-items: center;
  justify-content: space-between;
}
.search__button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border-style: unset;
  margin-right: 30px;
}
.search__button:hover {
  opacity: 90%;
  cursor: pointer;
}

.search__elements {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}
.locations,
._amenities {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.locations {
  margin-left: 30px;
  border-right: solid 1px #dddddd;
}
.locations h3,
._amenities h3 {
  font-weight: 600;
}
.locations h4,
._amenities h4 {
  font-weight: 400;
  font-size: 14px;
}

.popover {
  display: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: absolute;
  width: calc(100%);
  top: 100%;
  right: 30px;
  background-color: #fafafa;
  padding: 2em;
  flex-direction: column;
  gap: 0.8em;
}
.dropdown__menu-state {
  width: calc(100% + 30px);
  right: 0;
}

._amenities:hover .popover,
.locations:hover .popover {
  display: flex;
}
.city {
  margin-left: 0.7em;
}
