.places__title{
    margin-top: 30px;
}

.places__item {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #ff5a5f solid;
    border-radius: 4px;
}

.place__name-text {
    font-size: 30px;
    text-align: center;
}

.places__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}